
# Root-level files
.env
*.log
.DS_Store
node_modules/
__pycache__/
*.py[cod]
*.sqlite3

# Python
# For virtual environments
venv/
venve/
env/
*.egg-info/
*.eggs/
.Python
pip-log.txt
pyvenv.cfg
.mypy_cache/
pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
*.pkl

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Frontend - Next.js
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS Files
Thumbs.db
ehthumbs.db
